<%= render 'layouts/navbar' %>
<div class="container insta-container profile-container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <%= render 'form', image_post: @image_post, title: "New Post" %>

            <div class="text-center mb-4">
                <%= link_to 'Back', image_posts_path %>
            </div>
        </div>
    </div>
</div>
